{%- assign mod = include.mod -%}
{%- assign aggr = include.aggr -%}
{%- assign prefix = include.prefix -%}
{%- if aggr.access == "public" -%}

<span class='indexcommand {{ prefix }}'>
{%- if aggr.url %}
	<span class='listname'>{{ prefix }} <a class="v_idxmodlnk" href="{{ mod.url }}">{{ mod.name }}.</a><a class="v_idxnamelnk" href="{{ aggr.url }}">{{ aggr.name }}</a> { }</span>
{%- else %}
	<span class='listname'>{{ prefix }} <a class="v_idxmodlnk" href="{{ mod.url }}">{{ mod.name }}.{{ aggr.name }}</a> { }</span>
{%- endif %}
	<span class='listsearch'>{{ mod.name }}.{{ aggr.name }}</span>
</span>

{%- endif -%}
