{%- assign mod = include.mod -%}
{%- assign alias = include.alias -%}
{%- if alias.access == "public" -%}

<span class='indexcommand alias'>
{%- if alias.url %}
	<span class='listname'>alias <a class="vdoc-lnk" href="{{ mod.url }}">{{ mod.name }}.</a><a class="vdoc-lnkblue" href="{{ alias.url }}">{{ alias.name }}</a></span>
{%- else %}
	<span class='listname'>alias <a class="vdoc-lnk" href="{{ mod.url }}">{{ mod.name }}.{{ alias.name }}</a></span>
{%- endif %}
	<span class='listsearch'>{{ mod.name }}.{{ alias.name }}</span>
</span>

{%- endif -%}
